3. API 소개
```
pd.pivot_table(df,  # 피벗할 데이터프레임
                index = '행 위치에 들어갈 열',
                columns = '열 위치에 들어갈 열',
                values = '데이터로 사용할 열',
                aggfunc = 데이터 집계함수)
```

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = {"소속": ["jyp", "psy", "jyp", "jyp", "jyp", "jyp", "psy", "psy", "psy"],
        "가수": ["비", "제시", "박진형", "원더걸스", "제니", "샤샤", "현아", "싸이", "하니"],
        "성별": ['남자', '여자', '남자', '여자', '여자', '여자', '여자', '남자', '여자'],
        "연령": [15, 20, 20, 30, 30, 40, 50, 60, 70]}
data

{'소속': ['jyp', 'psy', 'jyp', 'jyp', 'jyp', 'jyp', 'psy', 'psy', 'psy'],
 '가수': ['비', '제시', '박진형', '원더걸스', '제니', '샤샤', '현아', '싸이', '하니'],
 '성별': ['남자', '여자', '남자', '여자', '여자', '여자', '여자', '남자', '여자'],
 '연령': [15, 20, 20, 30, 30, 40, 50, 60, 70]}

In [3]:
print(type(data))

<class 'dict'>

In [4]:
df = pd.DataFrame(data)
df

    소속    가수  성별  연령
0  jyp     비  남자  15
1  psy    제시  여자  20
2  jyp   박진형  남자  20
3  jyp  원더걸스  여자  30
4  jyp    제니  여자  30
5  jyp    샤샤  여자  40
6  psy    현아  여자  50
7  psy    싸이  남자  60
8  psy    하니  여자  70

In [5]:
df['연령'].mean()

37.22222222222222

In [6]:
int(df['연령'].mean())

37

In [7]:
df['가수들연령합'] = df['연령'].sum()
df

    소속    가수  성별  연령  가수들연령합
0  jyp     비  남자  15     335
1  psy    제시  여자  20     335
2  jyp   박진형  남자  20     335
3  jyp  원더걸스  여자  30     335
4  jyp    제니  여자  30     335
5  jyp    샤샤  여자  40     335
6  psy    현아  여자  50     335
7  psy    싸이  남자  60     335
8  psy    하니  여자  70     335

In [8]:
table = df.pivot_table(values='연령', index='소속', columns='가수')
# table = table.astype('int')
table

가수    박진형     비    샤샤    싸이  원더걸스    제니    제시    하니    현아
소속
jyp  20.0  15.0  40.0   NaN  30.0  30.0   NaN   NaN   NaN
psy   NaN   NaN   NaN  60.0   NaN   NaN  20.0  70.0  50.0

In [9]:
table.fillna('',inplace=True)

In [10]:
table

가수  박진형   비  샤샤  싸이 원더걸스  제니  제시  하니  현아
소속
jyp  20  15  40       30  30
psy              60           20  70  50